body {background-color:#F0F8FF;}
h2{color: rgb(226, 72, 72);}

/*导航栏*/
.d1
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(252, 95, 192);
}  
.d1 li{
    display: inline-block;
    
}

.d1 li a
{
    
    display: block;
    color:#FFFFFF;
    font-size: 17px;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-weight: normal;
    
}
.d1 li a:hover,li a:active
{
    background-color: rgb(236, 68, 180);
}
.d1 li a.one:hover {text-decoration: underline;color: rgb(252, 110, 245);}
/*导航栏结束*/

/*搜索框*/
.search {padding: 30px 0;}
form {
    position: relative;
    width: 650px;
    margin: 0 auto;
    
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}


.bar input {
    border: 2px solid #EA5085;/*底框*/
    width: 600px;
    border-radius: 5px;
    background: transparent;
    float: right;
    transition: .3s linear;
    background-image: url(search.ico);
    background-repeat: no-repeat;
    background-size: 35px;/*放大镜图片大小*/
    background-position:5px center;/*放大镜图片位置*/
    padding:0 0 0 60px;
}
.bar button {
    background:#EA5085;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0px;
    right: 0;
}
.bar button:before {
    content: "搜索";
    
    font-size: 20px;
    color:white;
}
.bar input:focus{
    border-color: rgb(184, 75, 75);
    width: 700px;
}
/*搜索框结束*/

/*图片廊*/
.picture{
    margin-top: 50px;
	width: 100%;
	height: auto;
}

.img {
    border: 1px solid #ccc;
    margin: 3px 1px;
    vertical-align: middle;
    text-align: center;
    
}

.img:hover {
    border: 1px solid #777;
    
}

.img img {
    width: 85%;
    height: 85%;
    border-radius:70%;
    text-align: center;
    line-height: 85%;
}

.desc {
    padding: 15px;
    text-align: center;
    color: rgb(97, 96, 96);
}



* {
    box-sizing: border-box;
    margin: 0;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;

}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*图片廊结束*/

/*2048*/

.game {
	width: 600px;
	height: auto;
    margin-top: 30px;
	
}

.gamestar{
    width: 600px;
    height: 300px;
    margin-top: 0;
    
    
}


.gamestar ul{
	border:1px solid #ff5000;
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
    
    color: rgb(150, 12, 60);
    list-style-type: none;
    
    
}
.gamestar ul li{
	height: 52px;
	width: 245px;
	text-align: center;
    line-height: 52px;
	font-weight: normal;
	padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    
}
.gamestar ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.gamestar ul li:hover{
	background-color: rgb(248, 156, 113);
	
}
/*2048结束*/

/*行程*/





.activity{
    padding-bottom: 90px;
    
    display: block;
}
.at{
    border-top: 1px solid #d6d6d6;
    
        width: 1000px;
        margin: 0 auto;
        position: relative;
        
    
}
.tit-at{
    padding: 50px 0 24px 0;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    position: relative;
}
.ico-md {
    width: 10px;
    height: 4px;
    display: block;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -5px;
}
.route {
    height: 770px;
    position: relative;
    text-align: center;
    
}
.in-route {
    position: relative;
    z-index: 2;
    height: 843px;
    text-align: left;
    padding: 0;
}
.in-route li {
    position: absolute;
}


.in-route a:hover .route-time { color: #ff488d; }


.route-it1 {
    left: 75px;
    margin-top: 54px;/*下加*/
}
.route-it2 {
    left: 136px;
    margin-bottom: 45px;/*下减*/
}
.route-it3 {
    left: 305px;
    margin-bottom: -95px;/*下减*/
}
.route-it4 {
    left: 559px;
    margin-top: 120px;/*下加*/
}
.route-it5 {
    left: 608px;
    margin-bottom: 29px;/*下减*/
}
.route-it6 {
    left: 803px;
    margin-bottom: -95px;/*下减*/
}

.route-single {
    width: 120px;
}

.route-up {
    bottom: 52%;
}
.route-mutil {
    width: 180px;
}

.route-down {
    top: 50%;
}


.route-up .route-detail {
    padding: 100px 0 0 14px;
    position: relative;
    margin-top: 60px;
}
.route-down .route-detail {
    padding: 0 0 100px 14px;
    position: relative;
    margin-bottom: 30px;
}

.route-detail {
    border-left: 1px solid #B2B2B2;
}
.route-down .route-pic {
    bottom: -10px;
    top: auto;
}



.route-pic {
    width: 86px;
    height: 86px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
}



.route .arrow {
    position: absolute;
    left: -2px;
    top: 0;
    background-image: url(1.png);
    background-position: -286px 0;
    background-repeat: no-repeat;
    _background-image: url(../imgs/icon_6.png);
    width: 5px;
    height: 197px;
}
.route-time {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    padding: 3px 0;
}
p {
    display: block;
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 0.7em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.route-star {
    font-size: 16px;
    color: #ff488d;
    line-height: 20px;
    padding: 3px 0;
}


.route-if {
    font-size: 16px;
    color: #000;
    line-height: 20px;
    padding: 3px 0;
    opacity: 0.6;
}





.btn-schedule, .btn-play {
    position: absolute;
    left: -17px;
    top: 0;
    background-image: url(1.png);
    background-position: -155px -21px;
    background-repeat: no-repeat;
    _background-image: url(calendar-icon.png);
    width: 34px;
    height: 34px;
}

.route-down .btn-schedule, .route-down .btn-play {
    bottom: -30px;
    top: auto;
}

.route-up .arrow {
    top: 40px;
}
.route-up .arrow {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}


.route-down .arrow {
    background-position: -291px 0;
    bottom: 10px;
    top: auto;
}


.route-single .route-if {
    width: 120px;
}



.route .line {
    background: url(2.jpg) center top;
    width: 1000px;
    height: 237px;
    position: absolute;
    left: 0;
    top: 350px;
    z-index: 1;
}

.ln-more {
    color: #000;
    opacity: 0.6;
    position: relative;
    z-index: 3;
    font-size: 16px;
    text-align: center;
    
}
.ln-more:hover { color: #000; opacity: 1; }
section{
    display: block;
}
a {
    text-decoration: none;
    color: white;
    
}



.btn-schedule {
    background-position: -189px -21px;
    top: auto;
}
.route-down.route-single .route-detail { padding-bottom: 60px; }
.route-down.route-single .route-pic { bottom: -30px; }
